<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：接口的名称，包含包名和类名,将mapper接口和配置文件对应起来


 -->  
<mapper namespace="com.wangqingbo.mapper.RelationMapper">

 <!-- 定义一个resultMap，查询订单和用户的信息 -->
 <resultMap type="com.wangqingbo.entity.Orders" id="orderUserResultMap">
  <!-- 订单实体类和数据库表的对应关系 -->
  <id property="orderId" column="ORDERID"/>
  <result property="orderNumber" column="ORDERNUMBER"/>
  <result property="userId" column="USER_ID"/>
  <result property="createtime" javaType="java.util.Date" column="CREATETIME"/>
  <result property="remark" column="REMARK"/>
  <!-- 配置订单和用户的一对一关系 
  property:类Orders中设置的用户的属性名称
  javaType:指定property的数据类型
  -->
  <association property="userInfo" javaType="com.wangqingbo.entity.UserInfo">
   <!-- 配置用户的属性信息 
   id:用户表的主键
   property：用户类中的属性
   column：对方关联表中的字段名，这里是指订单表中的用户id
   -->
   <id property="userId" column="USER_ID"/>
   <result property="userName" column="USERNAME"/>
   <result property="sex" column="SEX"/>
   <result property="birthday" javaType="java.util.Date" column="BIRTHDAY"/>
   <result property="address" column="ADDRESS"/>
  </association>
 </resultMap>
 
 <!-- 订单和订单详情的resultMap -->
 <resultMap type="com.wangqingbo.entity.Orders" id="orderAndOrderDetailResultMap">
  <!-- 订单实体类和数据库表的对应关系 -->
  <id property="orderId" column="ORDERID"/>
  <result property="orderNumber" column="ORDERNUMBER"/>
  <result property="userId" column="USER_ID"/>
  <result property="createtime" javaType="java.util.Date" column="CREATETIME"/>
  <result property="remark" column="REMARK"/>
  <!-- 订单和订单详情，一对多关系
  使用collection标签配置一对多
  property：订单的类中定义的关联订单详情的属性orderDetails
  ofType:指定列表中对象的数据类型，这里是订单详情 com.wangqingbo.entity.OrderDetail
   -->
  <collection property="orderDetails" ofType="com.wangqingbo.entity.OrderDetail">
   <!-- 配置订单详情 ，配置订单详情和数据库表的对应关系-->
   <id property="orderDetailId" column="ORDERDETAILID"/>
   <result property="ordersId" column="ORDERS_ID"/>
   <result property="itemsId" column="ITEMS_ID"/>
   <result property="itemsNum" column="ITEMS_NUM"/>
  </collection>
 </resultMap>
 
 <!-- 用户和商品的resultMap -->
 <resultMap type="com.wangqingbo.entity.UserInfo" id="userAndItemResultMap">
   <id property="userId" column="USERID"/>
   <result property="userName" column="USERNAME"/>
   <result property="sex" column="SEX"/>
   <result property="birthday" javaType="java.util.Date" column="BIRTHDAY"/>
   <result property="address" column="ADDRESS"/>
   <!-- 用户和订单的一对多关系 -->
   <collection property="ordersList" ofType="com.wangqingbo.entity.Orders">
     <!-- 订单实体类和数据库表的对应关系 -->
	  <id property="orderId" column="ORDERID"/>
	  <result property="orderNumber" column="ORDERNUMBER"/>
	  <result property="userId" column="USER_ID"/>
	  <result property="createtime" javaType="java.util.Date" column="CREATETIME"/>
	  <result property="remark" column="REMARK"/>
	  <!-- 配置订单和订单详情的一对多 -->
	  <collection property="orderDetails" ofType="com.wangqingbo.entity.OrderDetail">
		   <!-- 配置订单详情 ，配置订单详情和数据库表的对应关系-->
		   <id property="orderDetailId" column="ORDERDETAILID"/>
		   <result property="ordersId" column="ORDERS_ID"/>
		   <result property="itemsId" column="ITEMS_ID"/>
		   <result property="itemsNum" column="ITEMS_NUM"/>
		   <!-- 订单详情和商品一对一 -->
		    <association property="items" javaType="com.wangqingbo.entity.Items">
		       <id property="itemId" column="ITEMS_ID"/>
			   <result property="itemName" column="ITEMNAME"/>
			   <result property="price" column="PRICE"/>
			   <result property="picPath" column="PICPATH"/>
		    </association>
	  </collection>
   </collection>
 </resultMap>


<!-- 查询订单和订单所属用户 
 多表关联查询时，sql语句要完整，也必须是多表关联查询
-->
 <select id="queryOrderUsers" resultMap="orderUserResultMap">
  SELECT * FROM MYBATISORDERS O,MYBATISUSERINFO U WHERE O.USER_ID=U.USERID
 </select>
 
 <!-- 查询订单和订单详情 -->
 <select id="queryOrderDetails" resultMap="orderAndOrderDetailResultMap">
 SELECT * FROM MYBATISORDERS O,MYBATISORDERDETAIL OD WHERE O.ORDERID = OD.ORDERS_ID
 </select>
 
 <!-- 查询用户和购买的商品 -->
 <select id="queryUserAndItems" resultMap="userAndItemResultMap">
  SELECT * FROM MYBATISUSERINFO U,MYBATISORDERS O,MYBATISORDERDETAIL OD,MYBATISITEMS IT
  WHERE U.USERID=O.USER_ID AND O.ORDERID=OD.ORDERS_ID AND OD.ITEMS_ID=IT.ITEMID
 </select>
</mapper>